
img{
    float: left;
    margin: 10px;
    min-width: 100px;
    min-height: 50px;
}

.tabgroup{
    background-color: #AA1E1E;
    color: #eaeaea;
    float: left;
    outline: none;
    font-size: 17px;
    width: 100%;
    height: 8%;
}

.searchbar {
    float: left;
    padding: 6px;
    background: linear-gradient(rgba(255,255,255,0.67), rgba(255,255,255,0.67));
    margin-top: 15px;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 35px;
    transition: max-height 0.5s;
    overflow: hidden;
    width: 35%;
}


.searchbar input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
}


.tabexpand{
    background-color: #AA1E1E;
    color: #eaeaea;
    float: left;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    padding: 14px 14px;
    width: 13%;
}

.search{
    background-color: transparent;
    color: #eaeaea;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 0px;
    width: 10%;
    text-align: center;
    border-radius: 10px;
}

.tabbutton{
    background-color: #AA1E1E;
    color: #eaeaea;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    padding: 14px 16px;
    width: 13%;
}

.tabright{
    background-color: #AA1E1E;
    color: #eaeaea;
    float: right;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    padding: 14px 14px;
    width: 13%;
}

.tabaccount{
    background-color: #AA1E1E;
    color: #eaeaea;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    padding: 14px 16px;
    width: 5%;
    margin-left: 50px;
}

@media screen and (max-width: 850px){
    .tabaccount, .tabright{
        font-size: 15px;
    }
    .tabexpand{
        font-size: 25px;
    }

    .searchbar{
        margin-left: 5%;
        width: 50%;
    }
    img{
        display: none;
    }
}

@media screen and (max-width: 1350px) and (min-width: 851px) {
    .tabaccount, .tabright{
        font-size: 25px;
    }
    .tabexpand{
        font-size: 25px;
    }
}

.tabbutton:hover{
    background-color: #3c00a0;
    color: #fff;
    transition: 0.2s;
}

.tabaccount:hover{
    background-color: #3c00a0;
    color: #fff;
    transition: 0.2s;
}

.tabexpand:hover{
    background-color: #3c00a0;
    color: #fff;
    transition: 0.2s;
}

.tabright:hover{
    background-color: #3c00a0;
    color: #fff;
    transition: 0.2s;
}

.search:hover{
    background-color: #eaeaea;
    color: #555;
    transition: 0.2s;
}
